.numberCard{
  max-width: 1200px;
  margin: 5rem auto;
  padding: 1rem;
}

.numberCard-container{
  background-color: #2B2B2D;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border: 3px solid var(--yellow);
  border-radius: 10px;
  font-family: 'Jura', sans-serif;
}

.numberCard-content{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.line{
  width: 2px;
  height: 5rem;
  background-color: var(--yellow);
}

.number-desc p{
  font-size: 2.5rem;
}
.number-desc span{
  font-size: 1.7rem;
}

.numberCard-slide{
  display: none;
}

@media (max-width: 1000px) {
  .numberCard{
    padding: 2rem;
  }

  .numberCard-container{
    display: none;
  }

  .numberCard-slide{
    display: block;
    background-color: #2B2B2D;
    font-family: 'Jura', sans-serif;
    border-top: 3px solid var(--yellow);
    border-radius: 5px;
  }
  .numberSlide-content{
    padding: 2rem;
    text-align: center;
  }
  .numberSlide-content p{
    font-size: 3.5rem;
  }
  .numberSlide-content span{
    font-size: 3rem;
  } 
}

@media (max-width: 500px) {
  .numberSlide-content p{
    font-size: 2.5rem;
  }
  .numberSlide-content span{
    font-size: 2rem;
  } 
}


@media (max-width: 400px) {
  .numberCard{
    padding: 1rem;
    margin: 3rem auto;
  }
}